body {
  text-align: center;
}

h1 {
  color: #1D3955;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
}

h2 {
  color: #1D3955;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

h3 {
  color: #1D3955;
  font-family: Helvetica, sans-serif;
  font-size: 1.0em;
}

.code {
  background: #CECECE;
  font-family: monospace;
  font-size: 0.8em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.solution-big {
  color: green;
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.solution-header {
  color: green;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.solution-text {
  color: green;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}
